





</p><b><%= ambulancelocation.address%></b></p>
<%$a = Ambulancestatus.find_by(:ambulanceinfo_id => ambulancelocation.ambulanceinfo_id).status %>
<% if(@a== true) %>
    <p>Busy</p>
<%else%>
    <p>Available</p>
<%end%>


<p><%= Ambulanceinfo.find(ambulancelocation.ambulanceinfo_id).contact1.to_i %></p>
<p><%= Ambulanceinfo.find(ambulancelocation.ambulanceinfo_id).contact2.to_i %></p>