

  <div id="index-banner" class="parallax-container">
    <div class="no-pad-bot">
      <div class="container-fluid" style="padding:0px">
        <div class="row background-custom">
          <div class="row center" style="padding-top:170px;">
            <%= link_to "Get Started", '/nearby', :method => :get, :class => "btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h4 class="center brown-text"><i class="fa ">Faster Access</i></h4>
            
            <p class="light">Get infomation on the ambulance service you need at the time of emergency.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h4 class="center brown-text"><i class="fa">Tracking</i></h4>
            

            <p class="light">Track any ambulance and get real-time position.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h4 class="center brown-text"><i class="fa">Simple and Easy</i></h4>
            

            <p class="light">Because there is no time when people are in urgent need of help.</p>
          </div>
        </div>
      </div>

  </div>


  